{% extends 'base.html' %}
{ %block title}

{ %endblock title}

{% block body %}
<div class="container my-4 px-0">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/1.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Butterscotch Icecream</h5>
          <p>Topped with crushes brownie and chocolate syrup.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/2.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ice cream Bar</h5>
          <p>Wide variety to choose from.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/3.1.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mixed Icecream Bar</h5>
          <p> Covered with nuts and icecreams of your favourite flavours.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item1.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Strawberry icecream roll topped with Mangoe and Kiwi.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item2.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Cookie Crumble icecream roll topped with Strawberry and Oreo.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item3.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Blackcurrent icecream with sugar coated bread.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item4.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Chocolate icecream loaded with chocochips and nuts.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item5.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Delicious mixture of Strawberry and Chocolate icecream .
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item6.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Butterscotch icecream roll with Banana and wipped cream on top.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item7.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Bowl of our frutilicious icecreams with fresh fruits.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item8.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Vanilla roll with wafers and whipped cream.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item9.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Combo of our two best seller icecream roll.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item10.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Strawberry icecream topped with berries.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item11.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Blackcurrent icecream cone.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/item12.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
            Taco filled Chocolate icecream roll and gems.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group, text-muted ">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
            </div>

          </div>
        </div>
      </div>
    </div>




  </div>
</div>
</div>



{% endblock body %}